body {
    background-color: light-dark(aliceblue,darkblue);
    color: light-dark(darkblue,aliceblue);
}

footer {
     background-color: light-dark(white,black);
     color: light-dark(black,white);
}

.center{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
