:root {
  --5in-gap: 20px;
  --5in-color-orange: #ff6600;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: light-dark(white, black);
  color: light-dark(black, white);
}

a {
  color: var(--5in-color-orange);
}

.header {
  margin-bottom: calc(2 * var(--5in-gap));
}

.header__logo {
  --offset: 5px;
  --logo: 80px;

  position: relative;
  vertical-align: baseline;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;

    left: calc(-1 * var(--offset));
    top: calc(-1 * var(--offset));
    background-color: #fff;
    width: calc(var(--logo) + 2 * var(--offset));
    height: calc(var(--logo) + 2 * var(--offset));
  }

  img {
    width: var(--logo);
    height: var(--logo);
  }
}

.big {
  font-size: 48px;
}

.footer {
  color-scheme: dark;
  margin-top: calc(2 * var(--5in-gap));
  padding-block: var(--5in-gap);
  background: linear-gradient(to bottom, #000, #000 5px, #444 5px, #000);
  color: white;

  a {
    color: oklch(77.132% 0.14535 52.644);
  }
}

body:has(> .footer) {
  /* Helps the footer touch the bottom on short pages. */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

*:has(+ .footer) {
  margin-bottom: auto;
}

.center {
  width: calc(100% - 2 * var(--5in-gap));
  max-width: 960px;
  margin-inline: auto;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--5in-gap);
}
